<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
	</startup>
	<appSettings>
		<clear />
		<add key="LogFilePath" value="./Logs/CascIt_Console_Log_{0}.txt" />
		<!--a list domains available with game data per region-->
		<add key="BlizardCDNUrl" value="http://us.patch.battle.net:1119/{0}/cdns" />
		<!--a list of the current game version, build config, and cdn config per region-->
		<add key="BlizzardVersionUrl" value="http://us.patch.battle.net:1119/{0}/versions" />
		<!--similar to versions, but tailored for use by the Battle.net App background downloader process-->
		<add key="BlizzardBGDLVersionUrl" value="http://us.patch.battle.net:1119/{0}/bgdl" />
		<!--a blob file that regulates game functionality for the Battle.net App-->
		<add key="BlizzardGameBlobUrl" value="http://us.patch.battle.net:1119/{0}/blob/game" />
		<!--a blob file that regulates installer functionality for the game in the Battle.net App-->
		<add key="BlizzardInstallBlobUrl" value="http://us.patch.battle.net:1119/{0}/blob/install" />
	</appSettings>
</configuration>